<launch>
    <arg name="output" default="screen"/>
        
    <node name="camera" pkg="usb_cam" type="usb_cam_node" output="$(arg output)" clear_params="true" respawn="false" required="true">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="framerate" value="30" />
        <param name="camera_frame_id" value="cam_optical_link" />
        <param name="pixel_format" value="yuyv" />

        <param name="camera_name" value="camera" />
    </node>
    
    <node name="hera_color_node" pkg="hera_color" type="blob_detection.py" output="screen">
    </node>
</launch>
